.idea/
.github/
__mocks__/
assets-app-demo/
coverage/
demo/
demo-node/
docs/
integration-demos/
integration-tests/
node_modules/
src/
scripts/

infrastructure/

secrets

.dccache
.DS_Store
npm-debug.log*
*.spec.js

.babelrc
.drone.yml
.eslint*
.screen_layout
.nvmrc
CONTRIBUTING.md
PULL_REQUEST_TEMPLATE.md
webpack*
karma.config.js
jest.config.js
jasmine.json
TECH_DEBT*
